jittorvis/
jittorvis.egg-info/
.vscode/
__pycache__/
datasets/
*code-workspace
.idea/
build
!vis/build
gridlayoutOpt.cpython-38-x86_64-linux-gnu.so
test/
cache/
port_cache/
*.npy
*.npz
*.tar.gz
*.png
!small.png
cosin_difference.bin
save_records
*.pyd
lsa.cpython-38-x86_64-linux-gnu.so
